@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
    
    background-size: cover;
    font-family: 'Architects Daughter', cursive;   
     font-weight: bold;
    text-align: center;
    margin: 256px;
    background: linear-gradient(135deg , rgb(134, 130, 130) ,rgb(78, 171, 214));
}

.contain{
    background-image: url("./img/BG.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    border: solid 1px black;
    height: 50vh;
    width: 53vw;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    overflow: auto;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 24px;
    border-radius: 20px;
    margin-top: 57px;
}
#increment-btn:hover{
    background-color: brown;
} 

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#save-btn:hover{
    background-color: rgb(5, 71, 5);
}

#save-el{
    font-size:  23px;
}
